body{
    background: url("/images/background5-edit.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    background-attachment: fixed;
}

:root{
    --primary-color:#739297;
    --family-summary-color: #23454F;
    --footer-color:#212529;
    --paragraph-background-color: #445357;
    --paragraph-color: #29231b8c;
    --different-color : #6C63FF;
    --border-radius: 4px;
    --box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

.heading{
    margin-left: 5px;
    margin-right: 5px;
}
.Synopsis, .reviews-heading{
    color: black;
}
.desktop-h1,.small-screen-h1{
     font-family:'Zeyada','Vina Sans','Bricolage Grotesque', sans-serif;
    font-size: 76px;
    text-transform: capitalize;
}
.atou-type{
    color: #262629;
    
}

p {
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-size: 17px;
}

.main-poster{
    width: 450px;
    max-width: 50%;
    margin-left: 5px;
    margin-right: 30px;
    box-shadow: var(--box-shadow);
}
.describtion{
box-shadow: var(--box-shadow);
margin-right: 6px;
color: var(--paragraph-color);
background: var(--paragraph-background-color);
opacity: 0.8;
}
.geners{
    margin-left: 15px;
    color: black;
    opacity: 0.8;
    
}
.gener-space{
    padding: 2px;
    text-align: center;
    border: 1px solid var(--different-color);
    color: var(--different-color);
    border-radius: 20px;
    margin-right: 5px;
    font-weight: bold;
}
.poster-summary{
    color: black;
}
.bold-part-of-paragraph{
    color: var(--different-color);
}
.family-summary{
    width: 200px;
    max-width: 50%;
    box-shadow: var(--box-shadow);
}
.family-summary-paragraph-color{
    color: black;
    opacity: 0.7;
}
.whole-summary-m-p{
    background: var(--paragraph-background-color);
    margin: 50px 5px ;
    padding: 50px 1px;
    box-shadow: var(--box-shadow);
    color: #fff;
    opacity: 0.7;
}

.small-img{
    width: 25px;
}
.only-for-small-screen, .small-screen-family-summary{
    display: none;
}
footer{
    background: var(--footer-color);
    padding-top: 30px;
}
.footer-describtion{
    color: var(--different-color);
    margin: 3px 15px;
}
.mail-btn:hover{
    background: var(--different-color);
    border-color: var(--different-color);
}
.mail-btn{
    margin-left: 15px;
    border-color: var(--different-color);
}
.footer-section{
    display: flex;
    
}
.btn-outline-primary{
    color: var(--different-color);
}

@media (max-width: 570px){
    h1{
        font-size: 20px;
        text-shadow: 2px 2px 4px #fff;
    }
    .desktop-heading, .main-poster{
        display: none;
    }
    .geners{
       padding-right: 40px;
    }
    .gener-space{
        margin-top: 5px;
        text-align: center;
    }
    .desktop-family-summary{
        display: none;
    }
    .heading-paragraph{
        margin-right: 50px;
        margin-left: 50px;
        font-size: 12px;
    }
    .only-for-small-screen{
        display: block;
        text-align: center;
        font-size: small;
    }
    .small-heading, .whole-summary{
        margin: 10px 30px;
    }
    .small-img{
        width: 373px;
        margin-bottom: 10px;
        box-shadow: var(--box-shadow);
    }
    .small-version-poster{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .whole-family-summary,.whole-summary-m-p{
        text-align: center;
        
    }
    .small-screen-family-summary{
        margin: 50px;
        display: block;
    }
    .family-summary-paragraph{
        margin-top: 10px;
    }
    .footer-section{
        display: flex;
        flex-wrap: wrap;
    }
    .atou-type{
       text-shadow: 2px 2px 4px #fff;
    }
}