body{
    background: url("/images/background5-edit.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    background-attachment: fixed;
}

:root{
    --primary-color:#739297;
    --border-radius: 4px;
}


.rest-of-page{
    background: #fff;
    border-radius: var(--border-radius);
}
.heading{
    margin-left: 5px;
    margin-right: 5px;
   
}

h1{
    font-family: 'Playfair Display SC', serif;
    font-weight: bold;
    font-size: 96px;
}
p {
    font-family: "Poppins", sans-serif;
    font-weight: normal;
}

.main-poster{
    width: 450px;
    max-width: 50%;
    margin-left: 5px;
    margin-right: 30px;
}
.describtion{
    margin-right: 5px;
}
.family-summary{
    width: 200px;
    max-width: 50%;
}
.whole-summary{
    background: #fff;
    margin: 50px 5px ;
    padding: 5px 1px;
}
.small-img{
    width: 25px;
}
.only-for-small-screen, .family-summary-second-small-d{
    display: none;
}
.bg-dark-1{
    background: #739297;
}
@media (max-width: 600px){
    h1{
        font-size: 34px;
    }
    .desktop-heading{
        display: none;
    }
    .heading-paragraph{
        margin-right: 50px;
        margin-left: 50px;
        font-size: 12px;
    }
    .main-poster, .describtion{
        display: none;
    }
    .only-for-small-screen{
        display: block;
        text-align: center;
        font-size: small;

    }
    .small-heading, .whole-summary{
        margin: 10px 30px;
    }
    .small-img{
        width: 300px;
        margin-bottom: 10px;
    }
    .small-img-position{
        position: relative;
        left: -14px;
    }
    .small-screen-summary{
        text-align: center;
    }
    .family-summary-second-img{
        display: none;
    }
    .family-summary-second-small-d{
        display: block;
        width: 300px;
        position: relative;
        right: -72px;
    }
}