:root{
    --box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    --footer-color:#212529;
    --paragraph-background-color: #bebdbd;
    --paragraph-color: #29231b8c;
}
body{
    background: url("/images/background5-edit.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    background-attachment: fixed;
}
main{
    padding-bottom: 35px;
}
footer{
    background: var(--footer-color);
    padding-top: 30px;
    
}
.footer-describtion{
    color: #6C63FF;
    margin: 3px 15px;
}
.mail-btn{
    margin-left: 15px;
    border-color: #6C63FF;
}
.footer-section{
    display: flex;
    
}
.btn-outline-primary{
    color: #6C63FF;
}
iframe{
    margin-top: 120px;
    box-shadow: var(--box-shadow);
    border-radius: 4px;
}
.video-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navigation-btns a {
    margin: 20px;
    text-transform: capitalize;
    border-color: #6C63FF;
}
.nav-btns:hover,.mail-btn:hover{
    background: #6C63FF;
    border-color: #6C63FF;
}
@media(max-width: 570px){
    iframe{
        margin: 150px 10px;
    }
    .footer-section{
        display: flex;
        flex-wrap: wrap;
    }
}